/*------------------------------------------------------------------
[$PARTIAL-HELPERS]

These are basic helpers you can utilise in your code for 
common fixes.
-------------------------------------------------------------------*/


.g-float-right {
    float: right !important;
}

.g-float-left {
    float: left !important;
}

.g-align-right {
	text-align: left !important;
}

.g-align-right {
	text-align: right !important;
}